## Lecture session for Variables, Operators, Expressions, basic I/O, and string manipulation

#### Introduction to Python

In [1]:
#### Classic first program of Python and many other programming languages
#### The text string within the quotes is printed to the output screen

"Hello World"

'Hello World'

In [2]:
#The number 2 is printed to the output screen

2

2

In [3]:
# Adds the numbers 2 and 3

2+3

5

In [4]:
# The '2+3' is treated as a string (i.e. a character) and is printed as such to the output screen

'2+3'

'2+3'

#### Defining variables

In [37]:
#Examples of variable initialization

x = 12
y = 9
z = 54.3
str1 = 'computational thinking'
bool1 = True
bool2 = False

In [6]:
#Looking at the type of the variables initialized

type(x)

int

In [7]:
# Reserved keywords cannot be used as variable names

if = 2

SyntaxError: invalid syntax (<ipython-input-7-06cba59a1125>, line 3)

In [8]:
# Reserved keywords cannot be used as variable names

break = 25

SyntaxError: invalid syntax (<ipython-input-8-2864d5403f4a>, line 3)

In [9]:
# Variable names cannot start with a number

12myvariable = 542

SyntaxError: invalid syntax (<ipython-input-9-13a174f1f7ad>, line 3)

In [33]:
#Good choice of variables - example-1

my_variable = 'Hello World'
my_variable

'Hello World'

In [11]:
#Good choice of variables - example-2

salary = 50000
salary

50000

In [12]:
my_variable = 23
my_variable
salary = 50000
salary

50000

In [13]:
# Use of print() function to output more than one variable in the same cell to the output screen

my_variable = 23
print(my_variable)
salary = 50000
print(salary)

23
50000

In [14]:
# Efficient use of print() function

my_variable = 23
salary = 50000
print(my_variable, salary)

23 50000

#### Arithmetic operators

In [15]:
# Adding two numbers

x = 12
y = 9

add = x + y
add

21

In [16]:
# Subtracting two numbers

subtract = x - y
subtract

3

In [17]:
# Multiplying two numbers

multiply = x * y
multiply

108

In [18]:
# Dividing two numbers

divide = x / y
divide

1.3333333333333333

#### Comparison operators

In [19]:
# 'Equal to' operator 

x == y

False

In [20]:
# 'Not equal to' operator 

x != y

True

In [21]:
# 'Greater than' operator 

x > y

True

In [22]:
# 'Less than' operator 

x < y

False

In [23]:
# 'Greater than or equal to' operator 

x >= y

True

#### Logical operators

In [24]:
# 'and' operator

x < 15 and y < 3

False

In [25]:
# 'or' operator

x < 15 or y < 3

True

#### Basic I/O in Python

In [26]:
# input() function to get the user-defined inputs
# The entered number is always interpreted as a string.  You need to convert it to other data types that you might want it to be

my_number = input("Please enter a number: ")
my_number

Please enter a number: 25

'25'

In [27]:
my_number = int(my_number)
my_number

25

In [28]:
# Arithmetic operation within a print() function

print("10 times my number:",10*my_number)

10 times my number: 250

#### Precedence of operators

In [29]:
# Operator precedence: Example-1 

expression1 = 2 + 3 * 5 + 5
print('expression1:', expression1)

expression1: 22

In [30]:
# Operator precedence: Example-2

expression2 = (2 + 3) * (5 + 5)
print('expression2:', expression2)

expression2: 50

#### Strings

In [31]:
# Adding (i.e. concatenating) two strings

str1 = 'Hello'
str2 = 'World'

str3 = str1 + ' ' + str2
str3

'Hello World'

In [32]:
# String indexing

my_name = 'Light ray'

print(my_name[1])
print(my_name[3])


# The second index after the colon is not included in slicing: 
print(my_name[2:5])

print(my_name[0:9])

print(my_name[:])

print(my_name[:3])

print(my_name[3:])

i
h
ght
Light ray
Light ray
Lig
ht ray